
#####################################################################
###################   LOCAL DATA HANDLING   #########################
#####################################################################

#note also defined as parameter in stage_0_set_vars which has precedence over this variable
BASE_FILE_DIR=/home/path/to/project/faers

#local location of https://github.com/dbmi-pitt/faersdbstats repo
FAERSDBSTATS_REPO_LOCATION=/home/pentaho-secondary/projects-brb265/faers/faersdbstats

#####################################################################
#######################   TIMEFRAME    ##############################
#####################################################################

# note: if REBUILD_ALL_TIME_DATA_LOCALLY=0 & LOAD_ALL_TIME=1, s3 data will not be downloaded
# if LOAD_ALL_TIME is 1 set up LOAD_NEW_* so that orange book data will be fresh
# LOAD_ALL_TIME 1 = yes all years
# LOAD_ALL_TIME 0 = add specified year and quarter w/ LOAD_NEW_*

LOAD_ALL_TIME=1

# BELOW CONFIGS ARE NEEDED EVEN IF LOAD_ALL_TIME=1 (FOR ORANGE BOOK DATA)

#Q1 or Q2 or Q3 or Q4
LOAD_NEW_QUARTER=Q2
#must be YYYY (4 digit year)
LOAD_NEW_YEAR=2012

# 1=yes, delete BASE_FILE_DIR/data_from_s3, 
# ...then re-download data to s3 to this location
# ...applies to stage_3...
REBUILD_ALL_TIME_DATA_LOCALLY=0


#####################################################################
#######################  LOCAL LOG    ###############################
#####################################################################

# LOG_FILENAME Template=LOG-*MONTH*-*YEAR*-load.txt
LOG_FILENAME=LOG-July-2022-load.txt
LOG_FILENAME_ROOT=LOG-July-2022-load

#####################################################################
#######################  ORANGE BOOK ################################
#####################################################################

#Orange book data download link location #https://www.fda.gov/drugs/drug-approvals-and-databases/orange-book-data-files #"Orange Book Data Files (compressed)" < path from link w/ text "Orange Book Data Files (compressed)"
CEM_ORANGE_BOOK_DOWNLOAD_URL=https://www.fda.gov/media/76860/download
CEM_ORANGE_BOOK_DOWNLOAD_FILENAME=EOBZIP_2022_05.zip
#CEM_ORANGE_BOOK_DOWNLOAD_MONTH=04 #<GET FROM DOWNLOADED ZIP NAME IN ABOVE LINK
#CEM_ORANGE_BOOK_DOWNLOAD_YEAR=2022 #<GET FROM DOWNLOADED ZIP NAME IN ABOVE LINK
# creates ${CEM_DOWNLOAD_DATA_FOLDER}_setup
CEM_DOWNLOAD_DATA_FOLDER=orange_book_data


#####################################################################
#######################   AWS    ####################################
#####################################################################

#edit values and save as aws.config, 'aws configure list' command should return same values
AWS_S3_BUCKET_NAME=napdi-cem-sandbox-files
AWS_S3_ACCESS_KEY=YOURCRAZYLETTED_KEY
AWS_ACCESS_KEY_ID=YOURCRAZYLETTED_KEY
AWS_S3_SECRET_KEY=tHis+One+Is+AboutFortyCharactersLongOrs0
AWS_SECRET_ACCESS_KEY=tHis+One+Is+AboutFortyCharactersLongOrs0
AWS_DEFAULT_REGION=us-west-2


#####################################################################
#######################   DATABASE    ###############################
#####################################################################

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=your_database_name
DATABASE_SCHEMA=faers
DATABASE_USERNAME=username
DATABASE_PASSWORD=password


#####################################################################
###############   PENTAHO LOG DATABASE    ###########################
#####################################################################

DATABASE_LOG_NAME=pdi_log
#^not sure if will use
DATABASE_LOG_TABLE=pdi_logging
# DATABASE_LOG_USERNAME=rw_grp #not needed because log db will be in same schema
# DATABASE_LOG_PASSWORD=rw_grp #not needed because log db will be in same schema
DATABASE_LOG_SCHEMA=public


#####################################################################
##################   COMPARISON DATABASE    ###############################
#####################################################################

DATABASE_COMPARISON_HOST=localhost
DATABASE_COMPARISON_PORT=5435
DATABASE_COMPARISON_NAME=cem
DATABASE_COMPARISON_SCHEMA=schema_name
DATABASE_COMPARISON_USERNAME=username
DATABASE_COMPARISON_PASSWORD=comp_password


# additional documentation found in repo's wiki getting started
#this file built from FAERSDBSTATS_REPO_LOCATION/stage_0_set_vars/example_config.config